<div class="flex">
  <div class="flota" id="foto">
    <img alt="Imagen autor" src="/images/foto.jpg" />
  </div>
  <div class="flota ochenta">
    <h1>Rafael Cano Palomino</h1>
    <h2>Curso de node 2015 de <a href="https://miriadax.net/web/javascript-node-js">Miriadax</a></h2>
  </div>
  <iframe class="vid" src="https://www.youtube.com/embed/pHrxmgE1-eM" frameborder="0" allowfullscreen></iframe>
</div>