<div class="flex">
  <div id="foto">
    <img class="foto" alt="Imagen autor" src="/images/foto.jpg" />
  </div>
  <div id="autor">
    <h1>Rafael Cano Palomino</h1>
    <h2>Curso de node 2015 de <a href="https://miriadax.net/web/javascript-node-js">Miriadax</a></h2>
  </div>
  <div class="right vid">
  <iframe src="https://www.youtube.com/embed/pHrxmgE1-eM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
