body {
  background: #333;
}

#page-wrap:after {
  content: "Smartphone Layout";
}

h2 span, section h3 {
  display: none;
}

body {
  font-size: xx-large;
}

input, button {
  font-size:x-large;

}
footer {
  font-size: large;
}

.enlacespie {
   height:auto;
   float:none;
}
.enlacespie > li {
  display: block;
 
}
.flex {
  flex-wrap:wrap;
}
#foto, div#autor, .vid {
  width:100%;
  margin: 2px auto;
 
}

.rem {
  display:none;
}