* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Georgia", serif;
}


#page-wrap {
  padding: 2% auto;
  background-color: white;
  display:block;

}
div.contenedor {
  margin: 1% auto 1% auto;
}
div.contenidos {
    padding: 1%;
    color: black;


}
  /*.main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1%;
    color: black;
  }*/


section > div {
  padding: 1%;
  text-align:left;
}

header, nav, section, footer {
  background: #eee;
  text-align: center;
  display:block;
  
}

  nav span {
    padding: 0 10px 0 0;
  }

  .right {
    float:right;
  }


a {
  color: #00B7FF;
}

.enlacespie {
  display: block;
  width: 100%;
  height: 100%;
  list-style: none;
}

.enlacespie > li {
  display:inline-block;
  padding-left: 10px;
}

  .enlacespie > li > a {
    color: #ff6a00;
  }

  #foto {
    min-width:90px;
    width: 15%;
    justify-content:flex-start;
  }

    #foto > img {
      padding: 0 auto;
      height: 100px;
      width: auto;
    }

div#autor {
  width:40%;
  text-align: center;
  margin:0, auto;
}

.vid {
  min-width: 90px;
  width: 40%;
  padding: 0 auto;
  justify-content: center;
  height: 100%;
}

.vid > iframe {
  width:80%;
  justify-content:space-around;
}

.flex {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.error {
  color:indianred;
  background-color:wheat;
  width:95%;
}
.error > p  {
  display: block;
  font-family:monospace;
  white-space:pre-line;
  text-align:left;
  
}
#errorMsgs {
  color: #ff6a00;
  font-size:smaller;
  text-align:left;
}
button {
  border-radius: 5px;
  padding:2px;
}
.botEdit, .botElim {
  border-radius:6px 3px;
}

.formulario {
  text-align:left;
  
}
p, h1, h2, h3 {
  padding: 0.5em 0;
  
}
.right {
  float:right;

}
header {
  padding-right: 1%;
}
textarea {
  resize:both;
  width:100%;
  min-width:50%;
  padding-bottom:0.5em;
}
