/** {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Georgia", serif;
}*/

header {
  background-color:midnightblue;
  color:whitesmoke;
}
footer {
  background-color:midnightblue;
}
nav {
  background-color:green;
  color:white;
}
.main {
  background-color:palegoldenrod;
  color:black;
}

nav a {
  color: white;
}

main a {
  color:royalblue;
}
main li {
  color:black;
}
footer a {
    color: #ff6a00;
  }

  #foto {
    min-width:90px;
    width: 15%;
    justify-content:flex-start;
  }

    #foto > img {
      padding: 0 auto;
      height: 100px;
      width: auto;
    }

div#autor {
  width:40%;
  text-align: center;
  margin:0, auto;
}

.vid {
  min-width: 90px;
  width: 40%;
  padding: 0 auto;
  justify-content: center;
  height: 100%;
}

.vid > iframe {
  width:80%;
  justify-content:space-around;
}

.flex {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.error {
  color:indianred;
  background-color:wheat;
  width:95%;
}
.error > p  {
  display: block;
  font-family:monospace;
  white-space:pre-line;
  text-align:left;
  
}
.errorMsgs {
  color: #ff6a00;
  font-size:smaller;
  text-align:left;
}
span.errorMsgs {
  padding-top:2em;
  font-size:small;
 
}
