body {
  background: #999;
}
#page-wrap:after {
  content: "Wide Layout";
}
div.contenedor {
  display:table;
  width:100%;
}
div.contenidos {
  display:table-row;
  width:100%;
  background: #EEE;
}
.menu_izq {
  width:18%;
  float:left;
}
.menu_der {
  width:80%;
  float:right;
  border: 1px solid #999;
}
nav section {
  display:table-cell;
  
}
nav {
  padding-top: 1em;
  width:100%;
}
nav span {
  padding: 0.5em 0 0 0;
  display:block;
  clear:both;

}
footer {
  clear: both;
  display: block;
}

.enlacespie {
  text-align:right;
  
}

footer a {
  padding-right: 0.5em;
}
p {
  padding-bottom:0.5em;
}