<div id="quizes">
  <form action="/quizes" method="get">
    <p>
      Buscar:
      <input type="search" name="search" placeholder="Introduzca búsqueda" />
      <button type="submit">Seleccionar</button>
    </p>
  </form>
  <table>
    <% var i; for(i=0; i < quizes.length || 0; i++) { %>
    <tr><td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
  </table>
</div>