<div id="quizes">
  <form action="/quizes" method="get">
    <p>
      Buscar:
      <input type="search" name="search" placeholder="Introduzca búsqueda" />
      <button type="submit">Seleccionar</button>
    </p>
  </form>
  <table>
    <% var i; for(i=0; i < quizes.length || 0; i++) { %>
    <tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <td><button type="button" class="botEdit" onclick="window.open('/quizes/<%=quizes[i].id %>/edit', '_self');">Editar</button></td>
    </tr>
    <% } %>
    <tfoot>
      <tr><td><button type="button" onclick="window.open('/quizes/new', '_self')">Nueva pregunta</button></td></tr>
    </tfoot>
  </table>
</div>