<h2>Login</h2>
<form method="post" action="/login">
  <div class="field">
    <label for="login">Login:</label><br />
    <input type="text" id="login" name="login" maxlength="30" size="30" placeholder="usuario" required />
  </div>
  <div class="field">
    <label for="clave">Contraseña:</label><br />
    <input type="password" id="clave" name="clave" maxlength="32" size="32" placeholder="contraseña " required />
  </div>
  <div class="actions">
    <button type="submit">Entrar</button>
  </div>
</form>